:root{
    --main-font-family: 'Nunito', sans-serif;
--secondary-font-family: 'Roboto', sans-serif;
--secondary-colour:#fff;
--main-colour:#272142;           
}
.logosmall{
    max-height: 40px;
    max-width: 40px;
}
nav{
  padding: 20px 0;  
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
margin-left: 15px;
font-family:var(--main-font-family);
font-weight: bolder;
border-bottom: none;
font-size: 16px;
}
nav a{
text-decoration: none;
color:var(--main-colour);
transition: all 100ms ease-in-out;
}

nav a:hover,
 nav li a.active{
   color:#703BEE;

 }

.hero{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%), url(../images/overlay.png);
background-size:cover;
background-repeat: no-repeat;
max-width: 100%;
}
.content-container{
    padding: 40px 20px;
}
.content{
    margin: 30px;
}

section.info{
    padding-top: 100px;
    text-align: left;
}

.contact-info{
     margin-top: 80px;
 }

.main-content{
    margin-top: 60px;
}
footer{
    background-color:#F9F7FE;
    padding: 20px 100px;
}
.container h1,h2,h3,h4,h5,h6,h7,p,li{
    font-family: var(--main-font-family);
    color: var(--main-colour);
    font-weight: bold;
}
h1,p{
    color:var(--secondary-colour);
    text-align: center;
    font-family: var(--main-font-family);
    font-weight: bold;
    
}
h1{
    font-size: 72px;
}


.container h1{
    font-size: 72px;
    line-height: 98px;
}
.container h2{
    font-size: 64px;
    line-height: 50px;
    margin-bottom: 50px;
} 
.favourite-recipes h3{
    font-size: 36px;
    text-align: center;
}

.content h3{
font-size: 24px;
line-height: 1.5;
margin: 20px 0 0;
font-weight: bold;
}
h4{
    color:var(--main-colour);
    text-align: center;
    font-family: var(--main-font-family);
    font-size: 28px;
    font-weight: bold;
}
.favourite-recipes h5{
    font-size: 24px;
}
.container h6 a{
    color: var(--main-colour);
    padding: 10px;
    font-size: 16px;
}
.container h6 span{
padding-right: 15px;
font-weight: bold;
font-size: 18px;
}
.method h6{
color: #F8739A;
font-weight: 900;
line-height: 30px;
font-size: 18px;
 }
 .contact-info h6{
     color:#662EED;
     font-size: 18px;
     font-weight: bold;
 }

.hero p{
font-size: 24px;
line-height: 35px;
color: var(--secondary-colour);
}
.container p{
    font-size: 18px; 
    font-weight: normal;
    line-height: 30px;
    text-align: left;
    margin-bottom: 30px;
    color: var(--main-colour);
}
 .favourite-recipes p{
     font-size: 16px;
     color: var(--main-colour);
 }
footer p{
   font-family: var(--secondary-font-family); 
   font-size: 16px;
   font-weight: normal;
   color: var(--main-colour);
   line-height:19px;
}

 li{
     text-decoration: none;
     text-align: left;
     list-style: none;
     line-height: 30px;
     font-size: 18px;
     font-weight: normal;
 }
 li{
     border-bottom: 1px dashed #67D5D2;
     background-color: #fff;
     line-height: 60px;
 }
 .method ul li{
     border-bottom: 0px;
     line-height: 25px;
 }
 
 section.img img{
width: 1280px;
 }

 hr{
     border-bottom: 2px dashed #67D5D2;
     background-color: #fff;
     margin: 0;
 }
 
 .contact-info .text{
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
}

.contact-info a{
    color: var(--main-colour);
    text-decoration: none;
}
.contact-info a:hover{
    color: #703BEE;
}
footer a{
    color: var(--main-colour);
    padding-left: 20px;
}
footer .github-link{
    padding: 0px;
}

footer a:hover{
    color: #703BEE;
}


@media (max-width:900px){
    h1{
        font-size: 40px;
    }
    p{
    font-size: 20px;
    }
    h4{
        font-size: 22px;
    }
    
    .container h2{
        font-size: 30px;
        margin-bottom: 0;
    } 
    
    .container p{
        font-size:16px;
        color: var(--main-colour);
        text-align: center;
    }

    .main-content{
    margin-top: 5px;
    }
    .container h1{
    margin: 0;
    line-height:50px;
    }
        .content-container{
        text-align: center;
        padding: 0;
    }
    .container h1{
        font-size: 50px;
    }
    section.info{
        padding: 0;
        text-align: center;
    }
    .favourite-recipes h3{
        font-size: 30px;
    }
    .favourite-recipes h5{
    font-size: 18px;
    }
    .method h5{
        margin-top: 15px;

    }
    .recipes h4{
    border-bottom: 2px solid var(--main-colour);
    }
    li{
        text-decoration: none;
        text-align: left;
        list-style: none;
        line-height: 25px;
        font-size: 16px;
        font-weight: normal;
    }
    .contact-info{
        margin-top: 20px;
    }
    .contact-info .text{
        font-size: 20px;
    }
    .contact-info h6{
        margin: 0;
    }
    .contact-info p{
        margin: 0;
        margin-bottom: 20px;
    }
    footer{
        padding: 20px 30px;
        padding-top: 20px;
    }
    footer a{
        padding-left: 10px;
    }
 }